venv/
.idea
__pycache__/
nohup.out
antropometria/output/*
!antropometria/output/GridSearch/.gitkeep
antropometria/data/*
!antropometria/data/__init__.py
!antropometria/data/dataset_analyzer.py
!antropometria/data/dataset_reader.py
!antropometria/data/tests
!antropometria/data/dumb
.pytest_cache/
.DS_Store