absl-py==2.1.0
aggdraw==1.3.18.post0
aiohttp==3.9.5
aiosignal==1.3.1
appdirs==1.4.4
astroid==3.3.5
astunparse==1.6.3
chardet==5.2.0
click==8.1.7
contourpy==1.2.0
coremltools==6.3.0
cycler==0.12.1
dill==0.3.9
dodgy==0.2.1
easyocr==1.7.1
et-xmlfile==1.1.0
filelock==3.14.0
flake8==7.1.1
flake8-polyfill==1.0.2
flatbuffers==24.3.25
fonttools==4.48.1
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
imageio==2.34.1
imbalanced-learn==0.12.0
importlib_metadata==8.4.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipython==8.21.0
isort==5.13.2
joblib==1.3.2
keras==3.4.1
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lightning==2.2.4
lightning-utilities==0.11.2
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
namex==0.0.7
networkx==3.3
ninja==1.11.1.1
notebook-as-pdf==0.5.0
numpy==1.26.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
pandas==2.2.0
patsy==0.5.6
pep8-naming==0.10.0
pexpect==4.9.0
pillow==10.2.0
pluggy==1.4.0
ply==3.11
prospector==1.12.1
protobuf==3.20.3
pyarrow==15.0.0
pyclipper==1.3.0.post5
pycodestyle==2.12.1
pydash==7.0.7
pydocstyle==6.3.0
pyee==11.1.0
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.3.1
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pyparsing==3.1.1
PyPDF2==2.12.1
pyppeteer==2.0.0
PyQt5==5.15.10
pytest==8.0.0
python-bidi==0.4.2
pytorch-lightning==2.2.4
PyWavelets==1.6.0
regex==2024.5.15
requirements-detector==1.3.1
rich==13.7.1
scikit-image==0.21.0
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
semver==3.0.2
setoptconf-tmp==0.3.1
Shapely==1.8.5.post1
skfeature-chappers==1.1.0
skrebate==0.62
smmap==5.0.1
snowballstemmer==2.2.0
statsmodels==0.14.1
sympy==1.12
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-metal==1.1.0
termcolor==2.4.0
threadpoolctl==3.4.0
tifffile==2024.5.10
toml==0.10.2
tomlkit==0.13.2
torch==2.1.2
torchmetrics==1.4.0.post0
torchvision==0.16.2
tqdm==4.66.4
tzdata==2024.1
urllib3==1.26.19
visualkeras==0.1.2
wcwidth==0.2.13
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.3
wrapt==1.16.0
yarl==1.9.4
zipp==3.20.0
